<h3 style="float:center;padding-left: 550px;font-family:'Times New Roman', Times, serif;" class="my-3">Courses Enrolled</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="card mb-4 bg-light shadow">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{sess.firstName}} {{sess.middleName}} {{sess.lastName}}</h5>
                    <p class="text-muted mb-1">{{courseslist.collegename}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-4">
            <form>
                <div class="card mb-4 bg-light shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">course-1</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-muted mb-0">{{courseslist.coursename}}</p>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-outline-danger btn-sm">Remove</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">course-2</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-muted mb-0">Sql server</p>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-outline-danger btn-sm">Remove</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">course-3</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-muted mb-0">Artifical Intelligence</p>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-outline-danger btn-sm">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" style="float:center;padding-left: 50px;">
            <div class=" col-5 mb-3">
                <button class="btn btn-outline-secondary" routerLink="/user/dashboard">Back</button>
            </div>
        </div>
    </div>
</div>