 

    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                        
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                            <img src="../../assets/images/undraw_remotely_2j6y.svg" class="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">
                        <form class="was-validated" #loginForm="ngForm" (ngSubmit)="loginUser()" >
                        <div class="row px-3" >
                            <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                            <input class="mb-4" type="email" #name="ngModel" name="email" placeholder="Enter a valid email address" required [(ngModel)]="user.email" email >
                            <span *ngIf="name.invalid && name.touched" style="color:red;">Please Enter A Valid EmailId</span>
                        </div>
                        <div class="row px-3">
                            <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                            <input type="password" name="password" placeholder="Enter password" required [(ngModel)]="user.password">
                        </div>
                        <div class="row px-3 mb-4 mt-4">
                            <div class="custom-control custom-checkbox custom-control-inline col-lg-6">
                                <input id="chk1" type="checkbox" name="chk" class="custom-control-input" ngModel> 
                                <label for="chk1" class="custom-control-label text-sm">Remember me</label>
                            </div>
                            <a href="javascript: void(0);" class="ml-auto mb-0 text-sm col-lg-6" routerLink="/forget">Forgot Password?</a>
                        </div>
                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn btn-primary text-center">Login</button>
                        </div>
                        <div class="row mb-4 px-3">
                            <small class="fw-bold">Don't have an account? <a routerLink="/signup" class="text-danger text-decoration-none">Signup</a></small>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
