<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="row d-flex">
        <div class="col-md-4 d-flex align-items-center">
            <img src="assets/images/Programming-rafiki.svg">
        </div>
        <div class="col-md-4 offset-md-3 border-1">
            <div class="row d-flex">
                <div class="signup-form">
                    <form (ngSubmit)="userRegister()" class="mt-5 border p-4 bg-light shadow">
                        <h4 class="mb-1 text-center fw-bold">Create an account</h4>
                        <p class="text-center text-secondary mt-3">Already have an account? Please <a routerLink="/signin" routerLinkActive="active" class="fw-bold" href="#">Sign in here</a></p>
                        <div class="row">
                            <div class="col-s-12 mb-3 col-md-4">
                                <label>First Name<span class="text-danger">*</span></label>
                                <input type="text" name="firstname" class="form-control" placeholder="Enter your first name" [(ngModel)]="user.firstname">
                            </div>
                            <div class="mb-3 col-md-4">
                                <label>Middle Name</label>
                                <input type="text" name="middlename" class="form-control" placeholder="Enter your middle name" [(ngModel)]="user.middlename">
                            </div>
                            <div class="mb-3 col-md-4">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <input type="text" name="lastname" class="form-control" placeholder="Enter your last name" [(ngModel)]="user.lastname">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label>Address<span class="text-danger">*</span></label>
                            <input type="text" name="address" class="form-control" placeholder="Enter your address" [(ngModel)]="user.address">
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-4">
                                <label>City<span class="text-danger">*</span></label>
                                <input type="text" name="address" class="form-control" placeholder="Enter city" [(ngModel)]="user.city">
                            </div>
                            <div class="mb-3 col-md-4">
                                <label>State<span class="text-danger">*</span></label>
                                <input type="text" name="address" class="form-control" placeholder="Enter state" [(ngModel)]="user.state">
                            </div>
                            <div class="mb-3 col-md-4">
                                <label>Pincode<span class="text-danger">*</span></label>
                                <input type="text" name="address" class="form-control" placeholder="Enter pincode" [(ngModel)]="user.pincode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label>Mobile<span class="text-danger">*</span></label>
                                <input type="text" name="mobile" class="form-control" placeholder="Enter mobile number" [(ngModel)]="user.mobile">
                            </div>
                            <div class="col-s-12 mb-3 col-md-6">
                                <label>Email<span class="text-danger">*</span></label>
                                <input type="text" name="email" class="form-control" placeholder="Enter email" [(ngModel)]="user.email">
                            </div>
                        </div>
                            <div class="col-s-12 mb-3 col-md-12">
                                <label>SSC percentage<span class="text-danger">*</span></label>
                                <input type="text" name="sscpercentage" class="form-control" placeholder="Percentage" [(ngModel)]="user.sscpercentage">
                            </div>
                        <div class="mb-3 col-md-12">
                            <label>Password<span class="text-danger">*</span></label>
                            <input type="password" name="password" class="form-control" placeholder="Enter your password" [(ngModel)]="user.password">
                        </div>
                        <div class="mb-3 col-md-12">
                            <label>Confirm password<span class="text-danger">*</span></label>
                            <input type="password" name="password" class="form-control" placeholder="Re-enter your password" [(ngModel)]="user.confirmpassword">
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <button type="Submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="mb-3 col-md-6">
                                <button type="Submit" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>